<div class="pure-g">
    <h1 class="pure-u-1-1">CloudLock Fitness</h1>
    <a class="pure-button" href="http://localhost:6544/authorize">Join Our Team</a>


    <leaflet class="pure-u-1-1" center="center" paths="paths" markers="markers" defaults="defaults" height="500"></leaflet>
    <nvd3-multi-bar-horizontal-chart
       class="pure-u-1-1"
       data="exampleData"
       id="exampleI"
       yAxisTickFormat="yAxisTickFormatFunction()"
       width="550"
       height="250"
       showvalues="true"
       showXAxis="true"
       showYAxis="true">
      <svg></svg>
    </nvd3-multi-bar-horizontal-chart>
    
</div>
